@charset "utf-8";

/* CSS Document */

@media(min-width:320px) and (max-width:480px) {
	.padding_786,
	.ss_header_menu {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	body {
		font-size: 14px;
	}
	.ss_logo {
		position: relative;
		top: 18px;
	}
	.ss_logo>img {
		height: 100px;
	}
	.container {
		width: 100%;
	}
	.ss_text {
		text-align: center;
		z-index: 1024;
		top: 25%;
		max-width: 100%;
		width: 100%;
		left: 0;
	}
	.ss_text p {
		margin: 0;
		font-size: 15px;
	}
	.ss_tree_images img {
		max-width: 98px;
	}
	.ss_btn a {
		line-height: 35px;
	}
	.ss_star-text_images {
		display: none;
	}
	.ss_star_images img {
		width: 50px;
	}
	.ss_text h1 {
		color: #ba1976;
		font-size: 30px;
		line-height: 30px;
	}
	.ss_tree_images {
		position: absolute;
		right: -20px;
		bottom: 0;
	}
	.navbar-nav {
		padding-top: 30px;
	}
	.ss_top_heeader {
		text-align: center;
	}
	.ss_top_heeader .ss_gmail {
		width: 100%;
	}
	.ss_top_heeader .mobile_numbers span {
		left: 5px;
	}
	.ss_top_heeader .mobile_numbers {
		padding: 0 30px;
	}
	.ss_top_heeader .ss_whatup {
		margin-right: 10px;
	}
	.ss_top_heeader a {
		margin-top: 15px;
	}
	.ss_header_navbar {
		padding: 0px 0;
	}
	.ss_top_heeader .ss_gmail,
	.ss_top_heeader .ss_whatup,
	.ss_top_heeader .mobile_numbers {
		border-radius: 50px;
	}
	.ss_top_heeader .mobile_numbers:before,
	.ss_top_heeader .ss_gmail:before,
	.ss_header_menu:before,
	.ss_header_menu:after {
		display: none;
	}
	.good-life-wrapper h3 {
		font-size: 35px;
	}
	.good-life-wrapper p {
		font-size: 16px;
	}
}

@media(min-width:480px) and (max-width:767px) {

		.padding_786,
	.ss_header_menu {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	body {
		font-size: 14px;
	}
	.ss_logo {
		position: relative;
		top: 18px;
	}
	.ss_logo>img {
		height: 100px;
	}
	.container {
		width: 100%;
	}
	.ss_text {
		text-align: center;
		z-index: 1024;
		top: 25%;
		max-width: 100%;
		width: 100%;
		left: 0;
	}
	.ss_text p {
		margin: 0;
		font-size: 15px;
	}
	.ss_tree_images img {
		max-width: 98px;
	}
	.ss_btn a {
		line-height: 35px;
	}
	.ss_star-text_images {
		display: none;
	}
	.ss_star_images img {
		width: 50px;
	}
	.ss_text h1 {
		color: #ba1976;
		font-size: 30px;
		line-height: 30px;
	}
	.ss_tree_images {
		position: absolute;
		right: -20px;
		bottom: 0;
	}
	.navbar-nav {
		padding-top: 30px;
	}
	.ss_top_heeader {
		text-align: center;
	}
	.ss_top_heeader .ss_gmail {
		width: 100%;
	}
	.ss_top_heeader .mobile_numbers span {
		left: 5px;
	}
	.ss_top_heeader .mobile_numbers {
		padding: 0 30px;
	}
	.ss_top_heeader .ss_whatup {
		margin-right: 10px;
	}
	.ss_top_heeader a {
		margin-top: 15px;
	}
	.ss_header_navbar {
		padding: 0px 0;
	}
	.ss_top_heeader .ss_gmail,
	.ss_top_heeader .ss_whatup,
	.ss_top_heeader .mobile_numbers {
		border-radius: 50px;
	}
	.ss_top_heeader .mobile_numbers:before,
	.ss_top_heeader .ss_gmail:before,
	.ss_header_menu:before,
	.ss_header_menu:after {
		display: none;
	}
	.good-life-wrapper h3 {
		font-size: 35px;
	}
	.good-life-wrapper p {
		font-size: 16px;
	}

}

@media(min-width:768px) and (max-width:1024px) {

		.ss_logo>img {
    height: 104px;
}

.ss_text h1 {
	font-size: 55px;
}
.ss_logo {
    position: relative;
    top: 1px;
}

}

@media(min-width:1025px) and (max-width:1170px) {}

@media(min-width:1400px) {

	.ss_text {
    max-width: 28%;
}

}